.table-view .column-header,
.table-view .column-header-background .filter {
    -fx-background-color : #032D4D;
}
.table-view .column-header .label{
    -fx-text-fill : WHITE;
    -fx-alignment : CENTER;
}

.table-view .cell{
    -fx-cell-size: 50;
    -fx-alignment: center;
    -fx-text-fill: #000000;
}

.borders {
    -fx-border-color:  #032D4D;
    -fx-border-width: 2;
}

.menu {
    -fx-background-color : #0A4965;
    -fx-text-fill : WHITE;
    -fx-font-size: 20px;
    -fx-alignment: BASELINE_LEFT;
    -fx-padding: 0 0 0 50;

}

.new_presc {
    -fx-background-color : #0A4965;
}

.menu:hover{
-fx-background-color : #032D4D;
}

.pressed{
    -fx-background-color : #698896;
    -fx-text-fill : WHITE;
    -fx-font-size: 20px;
    -fx-alignment: BASELINE_LEFT;
    -fx-padding: 0 0 0 50;
}

.btn{
     -fx-background-color: #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 14px;
     -fx-font-weight: bold;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.btn:hover{
-fx-background-color : #032D4D;
}

.btn_table{
     -fx-background-color: #d4eefa;
     -fx-text-fill : BLACK;
     -fx-font-size: 14px;
     -fx-border-color: #0A4965;
     -fx-border-radius: 5;
     -fx-border-width: 0.5;
     -fx-alignment: CENTER;
}

.btn_table:hover{
     -fx-background-color: #b0c1c9;
}

.search{
    -fx-text-fill: #0A4965;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.background{
 -fx-background-color: #dfecf2;
}123

.time:hover{
     -fx-background-color: #ade5ff;
     -fx-border-color: #919191;
}

.time:focused{
     -fx-background-color: #99ffa2;
     -fx-border-color: #919191;
}

.warning{
    -fx-alignment: CENTER;
    -fx-text-fill: RED;
    -fx-font-size: 12px;
}

.success{
    -fx-alignment: CENTER;
    -fx-text-fill: GREEN;
    -fx-font-size: 12px;
}

.logout{
     -fx-background-color :  #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.logout:hover{
-fx-background-color : #032D4D;
}

.details{
     -fx-background-color: #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 12px;
     -fx-font-weight: normal;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.details:hover{
-fx-background-color : #032D4D;
}