.borders {
    -fx-border-color:  #032D4D;
    -fx-border-width: 2;
}

.menu {
    -fx-background-color : #0A4965;
    -fx-text-fill : WHITE;
    -fx-font-size: 20px;
    -fx-alignment: BASELINE_LEFT;
    -fx-padding: 0 0 0 50;

}

.menu:hover{
-fx-background-color : #032D4D;
}

.pressed{
    -fx-background-color : #698896;
    -fx-text-fill : WHITE;
    -fx-font-size: 20px;
    -fx-alignment: BASELINE_LEFT;
    -fx-padding: 0 0 0 50;
}

/* Buttons inside panes */
.btn{
     -fx-background-color :  #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 14px;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.btn:hover{
-fx-background-color : #032D4D;
}

.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-background-color : #032D4D;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.table-view .cell{
    -fx-cell-size: 25;
    -fx-alignment: CENTER;
    -fx-text-fill: BLACK;
}

/*Search label*/
.search{
    -fx-text-fill: #0A4965;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

/*Text field name from popup*/
.labels{
    -fx-text-fill: #0A4965;
    -fx-font-size: 14px;
    -fx-line-spacing: -5;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
/*******************/

/*Popup label messages*/
.warning{
    -fx-alignment: CENTER;
    -fx-text-fill: RED;
    -fx-font-size: 12px;
}

.success{
    -fx-alignment: CENTER;
    -fx-text-fill: GREEN;
    -fx-font-size: 12px;
}
/**********************/

.chart-title{
    -fx-font-family: Barlow Condensed Medium;
    -fx-font-size: 24px;
    -fx-alignment: CENTER;
    -fx-text-fill: #0A4965;
    -fx-font-weight: bold;
}

.chart-legend{
    -fx-alignment: CENTER;
    -fx-background-color: #dfecf2;
}

/*Number indicators from charts pane*/
.numbers {
        -fx-font-family: Barlow Condensed Medium;
        -fx-font-size: 18px;
        -fx-alignment: CENTER;
        -fx-text-fill: #0A4965;
        -fx-font-weight: bold;
}
/************************************/

.background{
 -fx-background-color: #dfecf2;
}

.logout{
     -fx-background-color :  #0A4965;
     -fx-text-fill : WHITE;
     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-alignment: CENTER;
     -fx-padding: 0 0 0 0;
}

.logout:hover{
-fx-background-color : #032D4D;
}

.btn_table{
     -fx-background-color: #d4eefa;
     -fx-text-fill : BLACK;
     -fx-font-size: 14px;
     -fx-border-color: #0A4965;
     -fx-border-radius: 5;
     -fx-border-width: 0.5;
     -fx-alignment: CENTER;
}

.btn_table:hover{
     -fx-background-color: #b0c1c9;
}
